@font-face{
    font-family: 'nanum';
    src: url(../font/NanumSquareNeo-cBd.ttf);
    font-weight: 400;
}

@font-face{
    font-family: 'nanum';
    src: url(../font/NanumSquareNeo-eHv.ttf);
    font-weight: 700;
}

em,span,a{
    font-family: 'nanum';
    font-weight: 400;
    letter-spacing: -1.7px;
}

.border_text{
    font-family: 'nanum';
    font-weight: 700;
}

a{
    text-decoration:none;
    color: white;
}

#customer-service {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    z-index: 999;
}

.blurEffect {
    filter: blur(10px);
    -webkit-filter: blur(10px);
}

/* 폰트 화이트 */
.font_white {
    color: white;
}

/* ========================== top ========================== */
/* top section 설정
   배경 설정
*/
.top_section{
    width: 100%;
    height: 100vh;
    position: relative;
    /* background-image: url('/image/main_banner/first_banner.jpg');
    background-repeat : no-repeat;
    background-size : cover;
    max-width: 100%; */
}

.top_section>video{
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
}

/* 아이콘, nav 지역 설정 */
.top_text_area{
    width: 100%;
    height: 100px;
    position: relative;
    z-index: 999;
    /* border-bottom: 1px solid ; */
}

/* 아이콘 크기 설정 */
.bi-list, .bi-arrow-right-short{
    width: 40px;
    height: 40px;
    color: white;
}

/* 아이콘 위치 설정 */
.top_nav_icon_area{
    position: absolute;
    top: 30px;
    left: 20px;
}

.icon{
    font-family: 'nanum';
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 0px;
    color: skyblue;
}

.top_nav_icon_area>img{
    width: 30px;
    height: 30px;
    padding-top: 3px;
}

/* top nav 가로 배치 설정 */
div.top_nav{
    display: inline-block;
}

/* 국내 여행, 해외 여행, 여행 가이드 부분 */
div.top_nav_menu_area{
    position: absolute;
    top: 20px;
    left: 180px;
}

div.top_nav_menu_area>ul{
    width: 300px;
    height: 30px;
    padding: 10px;
}

div.top_nav_menu_area li{
    display: inline-block;
    text-align: center;
    padding: 10px;
}

/* login_nav 부분 설정  */
div.login_nav{
    position: absolute;
    right: 20px;
    top: 20px;
}

div.login_nav>ul{
    width: 350px;
    height: 30px;
    padding: 10px;
}

div.login_nav li{
    display: inline-block;
    text-align: center;
    /* margin-left: 10px; */
    padding: 10px;
}

/* dropdown 부분 */


/* 고객센터부분 */
div.customer_service{
    width: 320px;
    height: 65;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

/* 스크롤 다운 버튼 */
div.down_btn{
    width: 310px;
    height: 60px;
    position: absolute;
    display: inline-block;
    bottom: 30px;
    right: 20px;
}

div.down_btn:hover{
}

.down_btn_items {
    width: 100%;
    height: 100%;
    position: relative;
}

div.down_btn_items>span{
    position: absolute;
    top: 20px;
    left: 10px;
    font-size: 20px;
    padding-bottom: 20px;
}

div.down_btn_items>.down_btn_icon{
    position: absolute;
    top: 10px;
    left: 260px;
}

.down_btn_icon:hover{
    animation: motion 0.5s /* 속도 */
    linear 0.5s   /* 처음부터 끝까지 일정 속도로 진행 */
    infinite alternate; /* 무한 반복 */
}

@keyframes motion {
	0% {margin-left: 0px;} /* 처음 위치 */
	100% {margin-left: 10px;} /* 마지막 위치 */
  }

div.down_btn hr{
    width: 300px;
    position: absolute;
    border: 1px solid white;
    border-radius: 12px;
    bottom: 0;
}


/* ======================= center_drop ================== */
.center_drop{
    position: absolute;
    top:40%;
    left:22.5%;
    width: 800px;
    height: 200px;
}

em,.sBtn-text{
    font-size: 27px;
}

.text_area{
    width: 100%;
    height: 75px;
    text-align: center;
    position: relative;
}

/* .text_area em{
    position: absolute;
} */

.text_area>span, .select-menu{
    display: inline-block;
}

.select-menu{
    width: 220px;
    height: 50px;
}

.select-menu .select-btn{
    display: flex;
    height: 50px;
    font-size: 18px;
    /* border-radius: 8px; */
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    border-bottom: 2px solid white;
    /* box-shadow: 0 0 5px rgba(0,0,0,0.1); */
}

.select-btn svg{
    font-size: 25px;
    transition: 0.3s;
}

.select-menu.active .select-btn svg{
    transform: rotate(-180deg);
}

.options{
    z-index: 1;
}

.select-menu .options{
    position: relative;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    margin-top: 10px;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    display: none;
}

.select-menu.active .options{
    display: block;
}

.options .option{
    display: flex;
    height: 55px;
    cursor: pointer;
    align-items: center;
    padding: 0 16px;
    border-radius: 8px;
    background: #fff;
}

.options .option:hover{
    background: #f2f2f2;            
}

.option .option-text{
    font-size: 18px;
    color: #333;
}

.select-menu .options{
    position: relative;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    margin-top: 10px;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
}

.options .option{
    display: flex;
    height: 55px;
    cursor: pointer;
    align-items: center;
    padding: 0 16px;
    border-radius: 8px;
    background: #fff;
}

.options .option:hover{
    font-weight: 600;
    background: #f2f2f2;
}

.option .option-text{
    font-size: 18px;
    color: #333;
}

.text_area2{
    width: 100%;
    height: 75px;
    text-align: center;
    position: relative;
}

.btn-type-round{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 20px;
    line-height: 1.2;
    text-decoration: none;
    min-height: 50px;
    background: black;
    cursor: pointer;
    border-radius: 12px;
}

/* ======================== center_drop ======================== */



/* ========================== top end ========================== */





/* ========================== middle ========================== */

/* middle section 크기 설정 */
.middle_section{
    /* margin-top: 100px; */
    width: 100%;
    height: 900px;
    background-color: #f2f2f2;
}

.text_popular{
    width: 100%;
    height: 100px;
    text-align: center;
    padding: 100px 0px 100px 0px;
}

.text_1{
    letter-spacing: -3px;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    font-size: 50px;
    font-weight: 700px;
}

.slider_popular{
    width: 100%;
    height: 500px;
    position: relative;
}

.slider_left{
    position: absolute;
    top:50%;
    left: 20px;

}

.slider_right{
    position: absolute;
    top:50%;
    right: 20px;
}

.slider_popular li{
    width: 300px;
    height: 480px;
}

.slider_popular a,.img_item{
    width: 100%;
    height: 100%;
}

.slider_popular .img_item{
    position: relative;
    border-radius: 12px;
}

.slider_popular .item_info{
    font-size: 22px;
    line-height: 1.4em;
    max-height: 2.8em;
    position: absolute;
    top: 40px;
    left: 20px;
}

.slider_popular .content{
    position: absolute;
    top: 100px;
    left: 20px;
}

.slider_popular .cont{
    font-size: 42px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-family: 'nanum';
    font-weight: 700;
}

.slider_popular .rank{
    width: 70px;
    height: 70px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
}

.rank>span{
    font-size: 20px;
    letter-spacing:1px;
}

/* ========================== middle end ========================== */





/* ========================== guide section ========================== */

.guide_section{
    width: 100%;
    height: 700px;
    text-align: center;
}

.guide_text{
    width: 100%;
    height: 50px;
    margin-top: 100px;
}

.guide_h1{
    font-size: 50px;
    letter-spacing: -3px;
}

.btn_more{
    width: 75px;
    height: 25px;
    position: absolute;
}


.guide_youtube_video_area{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    
}

.guide_youtube_video_area>.more_btn{
    text-align: right;
    margin-bottom: 20px;
    margin-right: 70px;
}

.more_btn>a{
    padding-bottom: 20px;
    color: black;
}

.slider5{
    box-shadow: none;
}

div.slide img{
    border-radius: 12px;
}

div.slide span{
    font-size: 22px;
    height: 25px;
    max-width: 100%;
    overflow: hidden;
}

.bx-wrapper{
    margin-left: 30px;
    margin-right: 30px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background: none;
}

.left_arrow_img,.right_arrow_img{
    width: 40px;
    height: 40px;
    fill:black;
}

.left_arrow_img:hover,.right_arrow_img:hover{
    cursor: pointer;
}

.left_arrow_area{
    width: 40px;
    height: 40px;
    z-index: 200;
    position: absolute;
    left: 0;
    top: 45%;
}

.right_arrow_area{
    width: 40px;
    height: 40px;
    z-index: 200;
    position: absolute;
    right: 0;
    top: 45%;
}

/* ========================== guide section end ========================== */




/* ========================== footer ========================== */
.footer{
    width: 100%;
    height: 300px;
    background-color: black;
}

.footer_top{
    width: 100%;
    height: 100px;
    text-align: center;
}

.footer_top>span{
    font-family: 'nanum';
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 0px;
    color: skyblue;
}

.footer_top>img{
    width: 30px;
    height: 30px;
    padding-top: 3px;
}
.footer_bottom {
    width: 600px;
    height: 50px;
    margin: 0 auto;
}

.footer_bottom ul{
    display: flex;
    justify-content: space-between;
}

.footer_bottom li{
    display: inline-block;
    padding: 20px;
}

.footer_top {
    padding: 20px 0 20px 0;
    width: 100%;
    height: 50px;
}

.footer_sns{
    padding-top: 30px;
    text-align: center;
    width: 200px;
    height: 50px;
    margin: 0 auto;
}

.footer_sns>.icon_area{
    display: flex;
    justify-content: space-around;
}

.footer_text_area{
    margin-top: 10px;
    text-align: center;
}

/* ========================== footer end ========================== */