<<<<<<<< HEAD:css/sign_in_page_input_mediaquery.css
/* =========== media query (max-width: 450px), ~450 =========== */
@media(max-width: 450px){

}
/* =========== media query (max-width: 890px), ~890px =========== */
@media all and (max-width:890px){

  div.sign_in_logo{
    margin:50px 0px;
========
@media all and (max-width:870px){
 
  div.sign_in_logo h1{
    font-size:2rem;
>>>>>>>> 6a8eb788ebf43c949cfe7a7a4899d9a546e5a16b:css/2-3.signup_page3_mediaquery.css
  }
  div.progress ul{
    display:block;
  }
  div.progress li{
    display:inline-block;
    font-size:1.8rem;
    font-weight:800;
<<<<<<<< HEAD:css/sign_in_page_input_mediaquery.css
    margin:0 2.247191%;
  }    /* 여기까지가 sign in 공통부분 */

  div.help_text{
    margin:50px 0px;
    text-align:center;
  }  /* page 1 2 3 */

  div.help_text span{
    display:block;
    font-size:1.3rem;
  } 

  div.input_user_information_input{
    padding:0 6.944444%;
  }

  div.input_user_information_input span.input_explanation{
    margin:5px 0.561798%;
    font-size:1rem;
  }

========
    margin:0 2.29885%;
  }

  div.help_text{
    margin:20px 3.448276%;
  }

  div.help_text span{
    display:inline-block;
    font-size:1.1rem;
  }

  div.help_text span.help_text2{
    margin-left:10px;
  }

  div.input_user_information{
    padding-left:9.195402%;
  }

  div.input_user_information_input{
    margin-left:1.149425%;
  }

  div.input_user_information_input span.input_explanation{
    margin:5px 0.694444%;
    font-size:0.9rem;
  }

  /* div.input_user_information input{
    width:36.781609%;
  } */

  div.input_user_information span.input_explanation_email{
    margin-left:3.448276%;
  }

>>>>>>>> 6a8eb788ebf43c949cfe7a7a4899d9a546e5a16b:css/2-3.signup_page3_mediaquery.css
  div.input_user_information_btn{
    display:block;
  }

  div.input_user_information_btn button.btn_btn{
    width:350px;
    margin-top:10px;
  }
}