@media all and (max-width:870px){

    div.sign_in_logo h1{
      font-size:2rem;
    }

    div.sign_in_logo{
      margin:50px 0px;
    }

    div.progress ul{
      display:block;
    }

    div.progress li{
      display:inline-block;
      font-size:1.8rem;
      font-weight:800;
      margin:0 2.247191%;
    }    /* 여기까지가 sign in 공통부분 */

    div.help_text{
      margin:50px 0px;
      text-align:center;
    }

    div.help_text span{
<<<<<<<< HEAD:css/sign_in_page_phone_mediaquery.css
      display:inline-block;
      font-size:1.5rem;
    } /* page 1 2 3 */

    div.phone_verification button.phone_verification_btn{
      width:78.651685%;
      padding:10px 2.247191%;
    } 

    div.phone_verification_text{
      margin:20px 0px 80px 0px;
      font-size:15px;
========
      display:block;
      font-size:1.3rem;
    }

    div.help_text span.help_text2{
      margin-left:2.5%;
    }

    div.phone_verification button.phone_verification_btn{
      width:57.471264%;
      padding:10px 2.777778%;
    }

    div.phone_verification_btn img{
      width:2.298851%;
      margin-right:1.149425%;
    }

    div.phone_verification_text{
      margin:20px 3.448276%;
>>>>>>>> 6a8eb788ebf43c949cfe7a7a4899d9a546e5a16b:css/2-2.signup_page2_mediaquery.css
    }
    div.phone_verification_text span{
     display:inline-block;
    }
  }